:host {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

iframe {
  display: block;
  width: 100vw;
  height: 100vh;
  border: none;
  margin: 0;
  padding: 0;
}
